
@{
    ViewBag.Title = "Especialidades";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <div class="jumbotron" style="background-image:url(../../img/principal.jpg);margin-bottom:38px; margin-top:9px;">
    </div>
</head>

<body>
    <div class="container-fluid bg-grey">
        <div class="row texto">
            <div class="col-lg-12" id="texto">
                <h1 style="color:black">Especialidades</h1>
                <lu>- Acupuntura</lu>
                <br />
                <lu>- Alergia e Imunologia</lu>
                <br />
                <lu>- Cirurgia Cardiovascular</lu>
                <br />
                <lu>- Cirurgia Geral</lu>
                <br />
                <lu>- Cirurgia Pediátrica</lu>
                <br />
                <lu>- Cirurgia Plástica</lu>
                <br />
                <lu>- Dermatologia</lu>
                <br />
                <lu>- Geriatria</lu>
                <br />
                <lu>- Hematologia e Hemoterapia</lu>
                <br />
                <lu>- Ginecologia e Obstetrícia</lu>
                <br />
                <lu>- Pediatria</lu>
                <br />
                <lu>- Psiquiatria</lu>
                <br />
                <lu>- Urologia</lu>
            </div>
        </div>
    </div>
</body>

</html>