<!DOCTYPE html>
<html lang="pt-br">
<head>
    <div class="jumbotron" style="background-image:url(../../img/principal.jpg);margin-bottom:38px; margin-top:9px;" >
    </div>
</head>

<body>
    <div class="container-fluid bg-grey">
        <div class="row texto">
            <div class="col-xs-4" id="texto">
                <h1 style="color:black">Meu Medico</h1>
                <p>
                    Solução integrada de comunicação e gestão que une saúde e tecnologia
                    O Meu Médico é uma Plataforma personalizada para as instituições de saúde que desejam tornar a comunicação entre seus colaboradores e pacientes mais adequada, ágil e efetiva.
                    Com a tecnologia Meu Médico, sua Instituição passa a ter um aplicativo próprio que disponibiliza dados para otimização da gestão de clínicas, hospitais e consultórios, através de diversas funcionalidades, visando a redução de custos e um atendimento mais qualificado.
                </p>              
            </div>
            <div class="col-xs-offset-6">
                <img src="~/img/index.png" class="img-rounded" width="520" height="293"/>
            </div>
            </div>
        </div>
    <div class="container">
        <img src="~/img/medicine-512.png" width="51px" height="60px" />
    </div>

</body>

</html>